@import url("http://fonts.googleapis.com/css?family=Roboto");

/*
 * This truly is the worst CSS I have ever written.
 * It works, though.
 */

body {
	background: #222;
	color: #fff;
}

.tabs, .tabs2, .tabs3 {
	background: #333;
}

.tablist li {
	background: transparent;
}

.tablist li a {
	border: none;
	background: none;
	transition: all 500ms;
}

.tablist li:hover a {
	background: #444;
}

.tablist li.current a {
	background: #644;
}

.tablist li a span {
	color: #efefef;
	text-shadow: none;
	font-family: Roboto;
	font-weight: normal;
}

.tabs .tablist li a span {
	font-size: 14px;
}

.tabs2 .tablist li a span {
	font-size: 12px;
}

.navpath {
	display: none;
}

.contents a:link, .contents a:visited {
	color: #644;
}

.contents a:hover {
	text-decoration: none;
}

.header {
	display: none;
}

.contents .fragment {
	padding: 5px;
	background-color: #444;
	border: solid 1px rgba(255, 255, 255, 0.2);
}

.contents .fragment .lineno {
	background-color: #333;
	border: none;
	padding-right: 10px;
}

.contents code {
	color: #a0a0a0;
}

.ui-resizable-handle {
	background: none;
	width: 0;
	border-right: solid 1px #333;
}

#side-nav {
	padding: 0;
}

#nav-tree {
	background: none;
}

#nav-tree-contents {
	margin: 0px;
}

.contents div.directory {
	border: none;
}

.contents table.directory tbody tr {
	background: #333;
}

.contents table.directory .entry {
	padding: 10px;
}

.contents table.directory .entry .icona,
.contents table.directory .entry span {
	display: none !important;
}

.contents .groupheader {
	color: #fff;
	border-bottom: solid 1px #333;
}

.contents .memberdecls .memItemRight,
.contents .memberdecls .memItemLeft,
.contents .memberdecls .memTemplItemRight,
.contents .memberdecls .memTemplItemLeft {
	background: none;
	border: none;
	text-align: left;
	font-family: monospace;
	font-size: 14px;
	font-weight: normal;
}

.contents .memberdecls .memTemplParams {
	background: none;
	color: #a0a0a0;
	font-family: monospace;
	font-size: 12px;
}

.contents .memberdecls .memSeparator {
	border: none;
	border-top: solid 1px #333;
	height: 10px
}

.contents .memitem {
	background-color: #333;
}

.contents .memitem .memproto,
.contents .memitem .memdoc {
	border: none;
	background: none;
	box-shadow: none;
}

.contents .memitem .memproto {
	border-bottom: solid 1px #222;
}

.contents .memitem .memname {
	font-family: monospace;
	color: #fff;
	text-shadow: none;
	font-weight: normal;
	font-size: 14px;
}

.contents .memitem .memtemplate {
	font-family: monospace;
	color: #fff;
	text-shadow: none;
	font-weight: normal;
	font-size: 12px;
}

.contents .mlabel {
	border: none;
	background: none;
	background-color: #222;
	border-radius: 0;
	font-family: monospace;
	font-size: 12px;
	color: #fff;
	padding: 4px;
}

.contents .paramname {
	color: #fff;
}

.inherit_header img {
	display: none;
}

.directory .levels {
	display: none;
}

.contents .qindex {
	background-color: transparent;
	border: none;
}

.contents .ah {
	border: none;
	background: none;
	border-radius: 0px;
	box-shadow: none;
	background-color: #333;
}
